.card {
  overflow: hidden;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.transition {
  transition: all 0.3s ease-in-out;
}
.stars span {
  font-size: 24px;
  cursor: pointer;
  color: gray;
}
.review {
  margin-bottom: 1rem;
}
.order-history-detail {
  font-size: small;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.orders-container {
  padding: 20px;
}

.order-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.order-left,
.order-right {
  width: 100%;
}
.order-left {
  order: 2;
}
.order-right {
  text-align: end;
  order: 1;
}
.order-actions {
  margin-top: 10px;
}
